body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .item-details-container {
    text-align: center;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 90%;
    max-width: 600px;
} */

.flex-container {
    display: flex;

    text-align: center;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 90%;
    max-width: 600px;
}

.flex-child {
    flex: 1;
}  

.flex-item:nth-child(1) {
    margin-right: 200px;
} 

.flex-item:nth-child(2) {
    background-color: white;
    border-radius: 10px;
    color: green;
  }

.product-description {
    flex: 1;
}

.additional-info {
    flex-basis: 300px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;

}

@media screen and (max-width: 600px) {
    .item-details-container {
        flex-direction: column;
    }

    .additional-info {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}


.logo-small {
    max-width: 200px;
    margin-bottom: 10px;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 45%;
}

.column h1 {
    font-size: 30px;
    font-weight: normal;
}

.column h2 {
    font-size: 20px;
    font-weight: lighter;
}

#itemImage {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

#itemDescription {
    margin-top: 15px;
}

#productDescription {
    padding: 0;
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
}

.additional-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 20px;
    width: 300px;
}