/* styles.css or itemDetails.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.item-details-container {
    text-align: center;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 90%; /* You can set this to the max width you want */
    max-width: 600px; /* Or whatever max-width you want */
}

.logo-small {
    max-width: 200px;
    margin-bottom: 10px;
}

.columns-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    margin-top: 20px; /* Increase the space between columns */
}

.column {
    width: 45%;
}

.column h1 {
    font-size: 30px;
    font-weight: normal;
}

.column h2 {
    font-size: 20px;
    font-weight: lighter;
}

#itemImage {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

#itemDescription {
    margin-top: 15px;
}

#productDescription {
    padding: 0; /* Removes padding */
    list-style-type: none; /* Removes bullet points */
    width: 100%; /* Ensures the ul spans the full width of its container */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}
