body {
    margin: 0;
    padding: 0;
    background-color: #355E3B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    max-width: 100%;
    margin-bottom: 100px;
}

.logo-small {
    max-width: 20%;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 25px;
    width: 70%;
    margin: 0 auto;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 25px 0 0 25px;
}

.search-bar input[type="submit"] {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #4CAF50;
    color: #FFFFFF;
    cursor: pointer;
}

#resultList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#resultList li {
    margin: 10px;
}

#resultList img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button .fa-solid{
    width: auto;
    font-size: 22px;
    cursor: pointer;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.list-text {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
